*{
    margin:0;
    padding:0;
 font-family:'Poppins',sans-serif ;
 box-sizing: border-box;
}

body{
    background: url("weather-bg.jpg");
    background-size: cover;
    background-position: center;
}
.card{
    width:90%;
    max-width: 470px;
    background: linear-gradient(45deg,rgb(0, 37, 85) ,#0c0035);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding:40 px 35px;
    text-align: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.search {
    display: flex;
    align-items: center;
    margin-top: 20px;
  }
  
  .search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    height: 40px;
    width: 70%;
    align-items: center;
   margin-left: 50px;
    padding: 0 16px;
    border-radius: 30px;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    margin-top: 20px;
    
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin-left: 16px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 1.0);
  }
  
  .search button img {
    width: 40px;
    height: 40px;
  }
  
  /* Media query for mobile phones */
  @media (max-width: 768px) {
    .search {
      flex-direction: column; /* Set flex direction to column on mobile */
      align-items: center; 
      margin-left: -60px;/* Align items to the start of the column */
    }
  
    .search button {
      margin-top: 10px; /* Add some space between input and button on mobile */
      margin-left: 60px; /* Reset margin-left to stack the button below the input */
    }
  }
  


#result {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .weather-icon {
    margin-bottom: 10px;
  }
  
  .temp-container {
    display: flex;
    justify-content: center;
  }
  
  .temp-container div {
    margin: 0 10px;
  }
  
  .title,
  .temp {
    display: inline;
    margin: 0;
    padding: 0;
  }
  

.weather-icon{
    width: 150px;
    margin-top: 25px;
    
}
.weather h1{
    font-size: 75px;
    font-weight: 500;
    
}

.weather h2{
    font-size: 40px;
    font-weight: 500;
    margin-top: -10px;
    
}

.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align:left;
}

.col img{
    width: 40px;
    margin-right: 10px;
    padding-bottom: 20px;

}

.humdity, .wind{
    font-size: 20px;
    margin-top: -6px;
    bottom: 20%;
}
